:host {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 16px;
  z-index: 300;
  width: 250px;
  height: 38px;
  background-color: #8240a0;
  border-radius: 7px;
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

input.search-box {
  border-radius: 4px;
  background-color: rgb(64 61 145 / 12%);
  height: 100%;
  font-size: 16px;
  width: 70%;
  border: 2px solid #ffffff75;

  &:focus {
    border: 2px solid rgba(255, 255, 255, 0.68);
  }
}

i {
  position: absolute;
  left: calc(70% - 25px);
  top: calc(50% - 9px);
}
