@forward "commit-section";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > * {
    width: 100%;
  }

  ::ng-deep {

    .max-size-bottom .p-splitterpanel:last-child {
      max-height: 400px;
    }

    .p-splitterpanel.p-splitterpanel-nested.ng-star-inserted {
      min-height: 210px;
    }
  }
}