
@forward "commit-section";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > * {
    width: 100%;
  }

  ::ng-deep {

    .min-sizes .p-splitterpanel {
      min-height: 230px;
    }

    .max-size-bottom .p-splitterpanel:last-child {
      max-height: 400px;
    }
  }
}