<p-splitter layout="vertical" [panelSizes]="[35, 35, 30]" [minSizes]="[25, 25, 30]">
    <ng-template #panel>
        <div class="flex-column flex-1">
            <h4>Unstaged files</h4>
            <p-divider type="solid"/>
        </div>
    </ng-template>
    <ng-template #panel>
        <div class="flex-column flex-1">
            <h4>Staged files</h4>
            <p-divider type="solid"/>
        </div>
    </ng-template>
    <ng-template #panel>
        <div class="flex-column flex-1">
            <div class="p-2">
                Commit message
            </div>
            <form class="flex-column flex-1" [formGroup]="commitForm">

                <input pInputText placeholder="Summary" class="w-full commit-summary" formControlName="summary"/>

                <textarea pTextarea placeholder="Description" rows="3" class="flex-1 commit-description" formControlName="description"></textarea>

                <button pButton [disabled]="!commitForm.value.summary?.length" class="mt-2 border-round-xs">
                    Stage files / changes to commit
                </button>

            </form>
        </div>
    </ng-template>
</p-splitter>