<div class="flex align-items-center justify-content-between">
    <h4 class="m-0">Unstaged files</h4>
    <p-button styleClass="p-button-sm" (click)="commitFilesChangesService.stageAll()" label="Stage all"/>
</div>

<p-divider type="solid" class="mt-2"/>

@let workingDirFilesChanges = commitFilesChangesService.workingDirChanges$ | async;

@if (workingDirFilesChanges) {
    <p-listbox @slightSlideIn
               [options]="workingDirFilesChanges.unstaged"
               optionLabel="path"
               class="show-button-on-li-hover"
               (onChange)="fileDiffPanelService.showWorkingDirDiffs($event.value)">
        <ng-template let-workingDirFileChanges pTemplate="item">
            @let fileChanges = $WorkDirFileChanges(workingDirFileChanges);
            <i class="text-gray mr-2 fa {{ FileStatusesIcons[fileChanges.status.kind].icon }}"
               [style.color]="FileStatusesIcons[fileChanges.status.kind].color"
               [style.filter]="'drop-shadow(0 0 5px ' + FileStatusesIcons[fileChanges.status.kind].color + ')'"></i>
            @let dir = directory(fileChanges.path);
            @if (dir.length) {
                <span class="ellipsis text-gray" [style.min-width.rem]="1.3">{{ dir }}</span>
            }
            <span class="white-space-nowrap">{{ (dir?.length ? '/' : '') + fileName(fileChanges.path) }}</span>
            <p-button
                    class="stick-right-button"
                    styleClass="file-row-stage-button p-button-sm"
                    (click)="commitFilesChangesService.stageFile(fileChanges); $event.stopPropagation()"
                    label="Stage"/>
        </ng-template>
    </p-listbox>
}

<div class="flex align-items-center justify-content-between mt-3">
    <h4 class="m-0">Staged files</h4>
    <p-button styleClass="p-button-sm" (click)="commitFilesChangesService.unstageAll()" label="Unstage all"/>
</div>

<p-divider type="solid" class="mt-2"/>

@if (workingDirFilesChanges) {
    <p-listbox @slightSlideIn
               [options]="workingDirFilesChanges.staged"
               optionLabel="path"
               class="show-button-on-li-hover"
               (onChange)="fileDiffPanelService.showWorkingDirDiffs($event.value)">
        <ng-template let-workingDirFileChanges pTemplate="item">
            @let fileChanges = $WorkDirFileChanges(workingDirFileChanges);
            <i class="text-gray mr-2 fa {{ FileStatusesIcons[fileChanges.status.kind].icon }}"
               [style.color]="FileStatusesIcons[fileChanges.status.kind].color"
               [style.filter]="'drop-shadow(0 0 5px ' + FileStatusesIcons[fileChanges.status.kind].color + ')'"></i>
            @let dir = directory(fileChanges.path);
            @if (dir.length) {
                <span class="ellipsis text-gray" [style.min-width.rem]="1.3">{{ dir }}</span>
            }
            <span class="white-space-nowrap">{{ (dir?.length ? '/' : '') + fileName(fileChanges.path) }}</span>
            <p-button
                    class="stick-right-button"
                    styleClass="file-row-stage-button p-button-sm"
                    (click)="commitFilesChangesService.unstageFile(fileChanges); $event.stopPropagation()"
                    label="Unstage"/>
        </ng-template>
    </p-listbox>
}

<div class="p-2">
    Commit message
</div>
<form class="flex-column flex-1" [formGroup]="commitForm">

    <input pInputText placeholder="Summary" class="w-full commit-summary" formControlName="summary"/>

    <textarea pTextarea placeholder="Description" rows="3" class="flex-1 commit-description" formControlName="description"></textarea>

    <button pButton [disabled]="!commitForm.value.summary?.length" class="mt-2 border-round-xs">
        Stage files / changes to commit
    </button>

</form>