<p-splitter [panelSizes]="[20, 50, 30]" [minSizes]="[15, 40, 15]">
    <ng-template pTemplate>
        <gitgud-remote-panel class="col flex align-items-center justify-content-center"></gitgud-remote-panel>
    </ng-template>
    <ng-template pTemplate>
        <gitgud-history-tree class="col flex align-items-center justify-content-center"></gitgud-history-tree>
    </ng-template>
    <ng-template pTemplate>
        <gitgud-commit-section class="col flex align-items-center justify-content-center"></gitgud-commit-section>
    </ng-template>
</p-splitter>
