
.diff-editor-container {
  height: 100%;
  overflow: hidden;
  flex: 1;
}

:host {
  display: flex;
  flex-direction: column;

  ::ng-deep {

    .action-button {
      position: absolute;
      right: 10px;
      z-index: 10;
      padding: 2px 5px;
      cursor: pointer;
    }

  }
}
