:host {
  display: block;
  height: 100%;

  ::ng-deep {
    .p-tree {
      padding: 0;
    }

    .p-tree .p-tree-container .p-treenode .p-treenode-content {
      padding: 0;
      color: var(--hmmmmmmGray);
      font-size: 0.8rem;
    }

    p-listbox {
      display: flex;
      flex-direction: column;
      min-height: 0;

      .p-listbox-option {
        padding: 0;

        > div {
          flex: 1;
          padding: 0.5rem 0.75rem;
        }
      }
    }

    .p-splitterpanel {
      display: flex;
      min-height: 0;
      overflow: hidden;
      flex-direction: column;
    }

    .p-tree .p-tree-node-label {
      flex: 1;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; // required for scroll
}

.title {
  padding: 8px;
  font-weight: bold;
  color: var(--wowowowGray);
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: rgb(0 0 0 / 26%) 0 10px 10px -10px;
  z-index: 100;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  color: var(--hmmmmmmGray);
}

.black-and-white {
  filter: brightness(0) saturate(100%) invert(70%);
}

.p-highlight {
  background: var(--row-selected-background-color);
}

.ahead-behind {
  font-size: 0.75rem;
  font-weight: 800;
  white-space: nowrap;
  opacity: 0.85;

  & + .ahead-behind {
    margin-left: 5px;
  }
}

.tag-presence-icons {
  margin-left: auto;
  font-size: 14px;
  gap: 3px;
  display: flex;
  flex-shrink: 0;
}
