@if (currentRepo.cwd(); as repoId) {
    <p-splitter
            [style]="{ height: '100%' }"
            layout="vertical"
            stateStorage="local"
            [stateKey]="'splitter-left-panel-' + repoId"
            [minSizes]="[15, 15, 15, 10, 10]"
    >
        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-laptop mr-2"></i>Local
                </div>
                <div class="content">
                    <p-tree
                            selectionMode="single"
                            [value]="localBranches()"
                            [selection]="selectedBranchNode()"
                            (onNodeUnselect)="selectBranchCommit($branchNode($event.node), localBranches)"
                            (onNodeSelect)="selectBranchCommit($branchNode($event.node), localBranches)"
                            (onNodeDoubleClick)="checkoutBranch($branchNode($event.node).data)"
                            [contextMenu]="activeContextMenu.menuRef"
                            (onNodeContextMenuSelect)="prepareBranchContextMenu($branchNode($event.node))"
                            emptyMessage="No local branches"
                    >
                        <ng-template pTemplate="togglericon"></ng-template>
                        <ng-template pTemplate="default" let-node>
                            @if (node.data) {
                                <span class="flex align-items-center flex-1 branch-drop-target"
                                      cdkDropList
                                      cdkDropListSortingDisabled
                                      (pointerenter)="branchDragDrop.onMouseEnter(node.data)"
                                      (pointerleave)="branchDragDrop.onMouseLeave()"
                                      [class.drop-target-active]="branchDragDrop.isValidDropTarget(node.data)"
                                      [class.drop-target-hover]="branchDragDrop.hoveredBranch()?.name === node.data.name">
                                    <span class="ellipsis flex-1 gap-1">{{ node.label }}</span>
                                    @let ab = aheadBehind.aheadBehindMap()[node.data.name];
                                    @if (ab?.ahead) {
                                        <span class="ahead-behind"><i class="fa fa-arrow-up"></i>{{ ab.ahead }}</span>
                                    }
                                    @if (ab?.behind) {
                                        <span class="ahead-behind"><i class="fa fa-arrow-down"></i>{{ ab.behind }}</span>
                                    }
                                </span>
                            } @else {
                                <span class="ellipsis flex-1">{{ node.label }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-cloud mr-2"></i>Remote
                </div>
                <div class="content">
                    <p-tree
                            selectionMode="single"
                            [value]="remoteBranches()"
                            [selection]="selectedBranchNode()"
                            (onNodeUnselect)="selectBranchCommit($branchNode($event.node), remoteBranches)"
                            (onNodeSelect)="selectBranchCommit($branchNode($event.node), remoteBranches)"
                            (onNodeDoubleClick)="checkoutBranch($branchNode($event.node).data)"
                            [contextMenu]="activeContextMenu.menuRef"
                            (onNodeContextMenuSelect)="prepareBranchContextMenu($branchNode($event.node))"
                            emptyMessage="No branches on remote"
                    >
                        <ng-template pTemplate="togglericon"></ng-template>
                        <ng-template pTemplate="default" let-node>
                            @if (node.data) {
                                <span class="flex align-items-center flex-1 branch-drop-target"
                                      cdkDropList
                                      cdkDropListSortingDisabled
                                      (pointerenter)="branchDragDrop.onMouseEnter(node.data)"
                                      (pointerleave)="branchDragDrop.onMouseLeave()"
                                      [class.drop-target-active]="branchDragDrop.isValidDropTarget(node.data)"
                                      [class.drop-target-hover]="branchDragDrop.hoveredBranch()?.name === node.data.name">
                                    <span class="ellipsis flex-1">{{ node.label }}</span>
                                </span>
                            } @else {
                                <span class="ellipsis flex-1">{{ node.label }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-archive mr-2"></i>Stashes
                </div>
                <p-listbox
                        [options]="currentRepo.stashes()"
                        [ngModel]="currentRepo.selectedStash()"
                        (ngModelChange)="selectStash($event)"
                        scrollHeight="auto"
                        dataKey="sha"
                        class="border-none"
                        emptyMessage="No stashes"
                >
                    <ng-template #item let-s>
                        @let stash = $stash(s);
                        <div class="flex align-items-center gap-2 ellipsis" (contextmenu)="openStashContextMenu(stash, $event)">
                            <span class="stash-chest-icon"></span>
                            <span class="ellipsis text-gray">{{ stash.summary }}</span>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </ng-template>
        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-tag mr-2"></i>Tags
                </div>
                <div class="content">
                    <p-tree
                            selectionMode="single"
                            [value]="tagTree()"
                            [selection]="selectedTagNode()"
                            (onNodeUnselect)="selectTag($tagNode($event.node), tagTree)"
                            (onNodeSelect)="selectTag($tagNode($event.node), tagTree)"
                            [contextMenu]="activeContextMenu.menuRef"
                            (onNodeContextMenuSelect)="prepareTagContextMenu($tagNode($event.node).data)"
                            emptyMessage="No tags"
                    >
                        <ng-template pTemplate="togglericon"></ng-template>
                        <ng-template pTemplate="default" let-node>
                            @if (node.data) {
                                @let tag = $localAndDistantTagWithName(node.data);
                                <span class="flex align-items-center flex-1 gap-1">
                                    <span class="ellipsis flex-1">{{ node.label }}</span>
                                    <span class="tag-presence-icons text-gray small-icon">
                                        @if (tag.local) {
                                            <i class="fa fa-laptop"></i>
                                        }
                                        @if (tag.distant) {
                                            <i class="fa fa-github"></i>
                                        }
                                    </span>
                                </span>
                            } @else {
                                <span class="ellipsis flex-1">{{ node.label }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title flex align-items-center">
                    <i class="fa fa-code-fork mr-2"></i>Worktrees
                    <i class="fa fa-plus ml-auto cursor-pointer" (click)="addWorktree()" title="Add worktree"></i>
                </div>
                <p-listbox
                        [options]="currentRepo.worktrees()"
                        scrollHeight="auto"
                        class="border-none"
                        emptyMessage="No linked worktrees"
                >
                    <ng-template #item let-wt>
                        @let worktree = $worktree(wt);
                        @let isCurrent = isCurrentWorktree(worktree);
                        <div class="flex align-items-center gap-2 ellipsis worktree-entry"
                             [class.worktree-current]="isCurrent"
                             (click)="selectWorktree(worktree)"
                             (dblclick)="openWorktreeInNewTab(worktree)"
                             (contextmenu)="openWorktreeContextMenu(worktree, $event)">
                            <i [class]="worktree.isMain ? 'fa fa-home' : (worktree.isDetached ? 'fa fa-scissors' : 'fa fa-code-fork')" class="text-gray worktree-icon small-icon"></i>
                            <span class="ellipsis flex-1" [class.text-gray]="!isCurrent">
                                {{ worktree.branch ?? 'HEAD' }}
                            </span>
                            @let ab = aheadBehind.aheadBehindMap()[worktree.branch ?? ''];
                            @if (ab?.ahead) {
                                <span class="ahead-behind"><i class="fa fa-arrow-up"></i>{{ ab.ahead }}</span>
                            }
                            @if (ab?.behind) {
                                <span class="ahead-behind"><i class="fa fa-arrow-down"></i>{{ ab.behind }}</span>
                            }
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </ng-template>
    </p-splitter>
}
