@let panelSizes = currentRepo.panelSizes()?.leftPanel;
@let draggingBranch = branchDragDrop.draggingBranch();
@let isDragging = !!draggingBranch;
@if (panelSizes) {
    <p-splitter
            [style]="{ height: '100%' }"
            layout="vertical"
            [panelSizes]="panelSizes"
            (onResizeEnd)="savePanelSizes($event)"
            [minSizes]="[20, 20, 20, 10]"
    >
        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-laptop mr-2"></i>Local
                </div>
                <div class="content">
                    <p-tree
                            selectionMode="single"
                            [value]="localBranches()"
                            [selection]="selectedBranchNode()"
                            (onNodeSelect)="selectBranchCommit($branchNode($event.node).data)"
                            (onNodeDoubleClick)="checkoutBranch($branchNode($event.node).data)"
                            [contextMenu]="activeContextMenu.menuRef"
                            (onNodeContextMenuSelect)="prepareBranchContextMenu($branchNode($event.node))"
                    >
                        <ng-template pTemplate="default" let-node>
                            @if (node.data) {
                                <span class="flex align-items-center flex-1 branch-drop-target"
                                      cdkDropList
                                      cdkDropListSortingDisabled
                                      (pointerenter)="branchDragDrop.onMouseEnter(node.data)"
                                      (pointerleave)="branchDragDrop.onMouseLeave()"
                                      [class.drop-target-active]="isDragging && node.data.tip.sha !== draggingBranch?.tip?.sha"
                                      [class.drop-target-hover]="branchDragDrop.hoveredBranch()?.name === node.data.name">
                                    <span class="ellipsis flex-1 gap-1">{{ node.label }}</span>
                                    @let ab = aheadBehind.aheadBehindMap()[node.data.name];
                                    @if (ab?.ahead) {
                                        <span class="ahead-behind"><i class="fa fa-arrow-up"></i>{{ ab.ahead }}</span>
                                    }
                                    @if (ab?.behind) {
                                        <span class="ahead-behind"><i class="fa fa-arrow-down"></i>{{ ab.behind }}</span>
                                    }
                                </span>
                            } @else {
                                <span class="ellipsis flex-1">{{ node.label }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-cloud mr-2"></i>Remote
                </div>
                <div class="content">
                    <p-tree
                            selectionMode="single"
                            [value]="remoteBranches()"
                            [selection]="selectedBranchNode()"
                            (onNodeSelect)="selectBranchCommit($branchNode($event.node).data)"
                            (onNodeDoubleClick)="checkoutBranch($branchNode($event.node).data)"
                            [contextMenu]="activeContextMenu.menuRef"
                            (onNodeContextMenuSelect)="prepareBranchContextMenu($branchNode($event.node))"
                    >
                        <ng-template pTemplate="default" let-node>
                            @if (node.data) {
                                <span class="flex align-items-center flex-1 branch-drop-target"
                                      cdkDropList
                                      cdkDropListSortingDisabled
                                      (pointerenter)="branchDragDrop.onMouseEnter(node.data)"
                                      (pointerleave)="branchDragDrop.onMouseLeave()"
                                      [class.drop-target-active]="isDragging && node.data.tip.sha !== draggingBranch?.tip?.sha"
                                      [class.drop-target-hover]="branchDragDrop.hoveredBranch()?.name === node.data.name">
                                    <span class="ellipsis flex-1">{{ node.label }}</span>
                                </span>
                            } @else {
                                <span class="ellipsis flex-1">{{ node.label }}</span>
                            }
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-archive mr-2"></i>Stashes
                </div>
                <p-listbox
                        [options]="currentRepo.stashes()"
                        [ngModel]="currentRepo.selectedStash()"
                        (ngModelChange)="selectStash($event)"
                        scrollHeight="auto"
                        dataKey="sha"
                        class="border-none"
                >
                    <ng-template #item let-s>
                        @let stash = $stash(s);
                        <div class="flex align-items-center gap-2 ellipsis" (contextmenu)="openStashContextMenu(stash, $event)">
                            <img src="assets/images/chest.svg" width="16" height="16" alt="stash" class="black-and-white"/>
                            <span class="ellipsis text-gray">{{ stash.summary }}</span>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </ng-template>
        <ng-template pTemplate="panel">
            <div class="panel">
                <div class="title">
                    <i class="fa fa-tag mr-2"></i>Tags
                </div>
                <p-listbox
                        [options]="currentRepo.tags()"
                        [ngModel]="currentRepo.selectedTag()"
                        (ngModelChange)="selectTag($event)"
                        scrollHeight="auto"
                        dataKey="sha"
                        class="border-none"
                >
                    <ng-template #item let-t>
                        @let tag = $tag(t);
                        <div class="flex align-items-center gap-2 ellipsis" (contextmenu)="openTagContextMenu(tag, $event)">
                            <i class="fa fa-tag text-gray"></i>
                            <span class="ellipsis text-gray">{{ tag.name }}</span>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </ng-template>
    </p-splitter>
}
