
html, body, app-root {
  margin: 0;
  padding: 0;
}

.space-between {
  justify-content: space-between;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.context-menu {
  width: unset; // Removes default primeng context menu width at 12.5em
}

.pointer {
  cursor: pointer;
}

.borderless .p-datatable-table {
  thead th, tbody td {
    border-style: none;
  }
}

.auto-wh {
  width: auto;
  height: auto;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  transition: all 1s;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  transition: all 1s;
  background: #352f3a;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  transition: all 1s;
  background: #766088;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 1s;
  background: #b183d6;
}

.hidden {
  display: none;
}

hr {
  width: 100%;
  border-color: var(--p-accordion-panel-border-color);
}

.ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.text-gray {
  color: var(--huaaaaaGray);
}