:root {
    --primeng-purple-line: rgba(66, 48, 69, 0.9);
    --hmmmmmmGray: #696969;
    --huaaaaaGray: #adadad;
    --row-selected-background-color: #755a975c;
    font-family: var(--font-family), sans-serif;
}

