:root {
  --primeng-purple-line: rgba(66, 48, 69, 0.9);
  --hmmmmmmGray: #696969;
  --huaaaaaGray: #adadad;
  --babedouGray: #e5e5e5;
  --row-selected-background-color: #755a975c;
  font-family: var(--font-family), sans-serif;
}

