$primeng-purple-line: rgba(206, 147, 216, 0.32);

.uuu {

  display: flex;
  flex-direction: row;

  & > * {
    width: 20px;
  }

  .bubble-container {
    position: relative;
    color: white;

    .bubble {
      background: $primeng-purple-line;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      margin-top: -4px;
      margin-bottom: -4px;
      position: relative;

      &.user-name-bubble {
        padding-left: 0.42em;
        height: 22px;
        font-weight: bold;
        width: 22px;
        border-radius: 22px;
      }

      &.bar {

        height: 4px;
        width: 2px;
        position: absolute;
        left: 17px;

        &.top {
          top: 0;
        }

        &.bottom {
          bottom: 0;
        }

        &.right {
          top: 0;
          left: 29px;
          width: 39px;
          height: 39px;
          overflow: hidden;
          background: none;
          box-shadow: none;

          .quarter-circle {
            width: 100%;
            height: 100%;
            margin-top: -50%;
            margin-left: -50%;
            border: 2px solid $primeng-purple-line;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          }
        }

      }
    }
  }
}

