@let selectedCommitsShas = gitRepositoryStore.selectedCommitsShas();
@if (selectedCommitsShas && selectedCommitsShas?.length) {
    @if (selectedCommitsShas[0] == 'index') {
        <gitgud-make-a-commit/>
    } @else if (selectedCommitsShas.length == 1){
        <!-- Show one commit diffs -->
        <gitgud-commit-infos/>
    } @else if (selectedCommitsShas.length > 1){
        <!-- Show 2+ commit diffs -->
        <gitgud-commits-file-list-info/>
    } @else {
        NO COMMITS SELECTED
    }
}
