@if (currentRepo.cwd(); as repoId) {
    <p-splitter stateStorage="local" [stateKey]="'splitter-main-view-' + repoId" [minSizes]="[8, 13, 10]" class="h-full">
        <ng-template pTemplate>
            <gitgud-left-panel/>
        </ng-template>
        <ng-template pTemplate>
            <gitgud-logs/>
        </ng-template>
        <ng-template pTemplate>
            <gitgud-commit-section #commitPanel/>
        </ng-template>
    </p-splitter>

    @if (fileDiffPanel.fileToDiff$ | async; as fileToDiff) {
        <gitgud-monaco-editor-view [fileToDiff]="fileToDiff" class="editor-overlay" [style.width.px]="editorRightPx()"/>
    }
    @if (fileDiffPanel.conflictedFile()) {
        <gitgud-merge-editor class="editor-overlay" [style.width.px]="editorRightPx()"/>
    }
}
