@let sizes = currentRepo.panelSizes()?.mainPanels;
@if (sizes) {
    <p-splitter [panelSizes]="sizes" [minSizes]="[8, 13, 10]" (onResizeEnd)="savePanelSizes($event)" class="h-full">
        <ng-template pTemplate>
            <gitgud-left-panel/>
        </ng-template>
        <ng-template pTemplate>
            <gitgud-logs/>
        </ng-template>
        <ng-template pTemplate>
            <gitgud-commit-section/>
        </ng-template>
    </p-splitter>

    @if (fileDiffPanelService.fileToDiff$ | async; as fileToDiff) {
        <gitgud-monaco-editor-view
                [fileToDiff]="fileToDiff"
                class="absolute left-0 bottom-0 wuuuu"
                [style.right]="'calc(100vw * ' + (sizes[2] / sum(sizes)) + ' + 3px)'"
        />
    }
}
