:host ::ng-deep {
  .p-tabview-nav-container {
    margin-left: 240px;
  }

  .p-tabview-panels {
    padding: 0;
  }

  .close-tab-btn {
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: middle;

    .p-button-icon {
      font-size: 1rem;
    }
  }
}

.fixup-overlay-mask {
  position: fixed;
  inset: 0;
  z-index: 600;
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}