<gitgud-top-bar class="float-left"/>

@let currentRepoIndex = gitRepositoryStore.selectedIndex();
@if (currentRepoIndex != -1) {
  <p-tabView
    [activeIndex]="currentRepoIndex"
    (activeIndexChange)="gitRepositoryStore.setCurrentRepoIndex($event)"
    [scrollable]="true"
    [autoHideButtons]="true"
    class="no-panels-paddings"
    (onClose)="gitRepositoryStore.removeRepository($event.index)">

    @for (repository of gitRepositoryStore.repositories(); track repository.id) {
      <p-tabPanel
        [leftIcon]="'fa fa-code-fork'"
        [header]="repository.name"
        class="relative"
        [closable]="true">
        <gitgud-repository-view/>
      </p-tabPanel>
    }

  </p-tabView>
}

<p-toast/>