@if (showSearchBar) {
    <gitgud-search-logs (onSearch)="search($event)"/>
}
@let displayLog = computedDisplayLog();
@let graphColCount = graphColumnCount();
@let visibleCommitsCnt = visibleCommitsCount();
@if (graphColCount && visibleCommitsCnt && visibleCommitsCnt > 0) {
    <canvas #canvas
            id="commit-graph-canvas"
            [height]="yPosition(visibleCommitsCnt)"
            [width]="xPosition(graphColCount - 1) + NODE_RADIUS"
            [style.top.px]="CANVAS_MARGIN.top"
            [style.left.px]="_branchColumnWidth() + CANVAS_MARGIN.left"
    ></canvas>
}
<p-table
        #logTable
        [value]="displayLog"
        [selection]="commitsSelection()"
        (selectionChange)="onCommitsSelection($event)"
        dataKey="sha"
        [rowHover]="true"
        [scrollable]="true"
        [resizableColumns]="true"
        scrollHeight="flex"
        selectionMode="multiple" [metaKeySelection]="true"
        class="pointer borderless p-datatable-sm"
>
    <ng-template pTemplate="header">
        <tr class="uppercase text-gray">
            <th pResizableColumn>Branch / Tag</th>
            <th pResizableColumn [style.max-width.px]="CANVAS_MARGIN.left + xPosition(graphColCount)" [style.width.px]="CANVAS_MARGIN.left + xPosition(graphColCount)">Graph</th>
            <th pResizableColumn style="min-width: 100px;">Commit message</th>
            <th pResizableColumn>Author</th>
            <th pResizableColumn style="min-width: 170px;">Commit date / time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-displayRef>
        @let commit = $displayRef(displayRef);
        @let isDetachedHead = currentRepo.detachedHeadSha() === commit.sha;
        <tr class="commit-row {{ commit.highlight }}"
            [pSelectableRow]="commit"
            [pSelectableRowIndex]="rowIndex"
            [style.padding-bottom.px]="NODES_VERTICAL_SPACING / 2"
            (contextmenu)="openCommitContextMenu(commit, $event)"
            [pContextMenuRow]="commit"
            [pContextMenuRowDisabled]="isIndex(commit)"
        >
            @let branchesGrouped = currentRepo.mergedBranchesByTip()[commit.sha] ?? [];
            @let commitTags = currentRepo.tagsByCommitSha()[commit.sha] ?? [];
            @let extraCount = branchesGrouped.length + commitTags.length + (isDetachedHead ? 1 : 0) - 1;
            <td class="branch-tag-td">
                @if (commit.sha == createBranchService.newBranchSha()) {
                    <input pInputText
                           class="branch-name-input"
                           placeholder="New branch name"
                           autofocus
                           [(ngModel)]="createBranchService.name"
                           (keydown.enter)="createBranchService.confirm()"
                           (keydown.escape)="createBranchService.cancel()"
                           (blur)="createBranchService.cancel()"
                    />
                }
                @if (isDetachedHead) {
                    <div class="branch-tag">
                        <div class="commit-branch" [style.filter]="commitColor(commit.indent!)">
                            <i class="fa fa-check mr-2"></i>
                            <span class="ellipsis branch-name">HEAD (detached)</span>
                            <i class="fa fa-unlink mr-2"></i>
                            @if (extraCount > 0) {
                                <p-badge [value]="'+'+extraCount" size="small" class="extra-count-badge"/>
                            }
                        </div>
                    </div>
                }
                @for (branchLocalAndDistant of branchesGrouped; track branchLocalAndDistant[0].ref; let i = $index) {
                    @let local = branchLocalAndDistant[0];
                    @let distant = branchLocalAndDistant[1];
                    <div class="branch-tag">
                        <div class="commit-branch"
                             [class.checked-out]="commit.isPointedByLocalHead"
                             [style.--offset.px]="(isDetachedHead ? i + 1 : i) * 30"
                             [style.z-index]="420 - (isDetachedHead ? i + 1 : i)"
                             [style.filter]="commitColor(commit.indent!)" pDraggable
                             (contextmenu)="openBranchContextMenu((local ?? distant)!, $event)">
                            @if (local.isHeadPointed) {
                                <i class="fa fa-check mr-2 with-padding"></i>
                            }
                            <span class="ellipsis branch-name">{{ normalizedBranchName(local ?? distant) }}</span>
                            <span class="float-icons">
                                @if (local) {
                                    <i class="fa fa-laptop"></i>
                                }
                                @if (distant) {
                                    <i class="fa fa-github"></i>
                                }
                            </span>
                            @if (extraCount > 0 && i == 0) {
                                <p-badge [value]="'+'+extraCount" size="small" class="extra-count-badge"/>
                            }
                        </div>
                    </div>
                }
                @for (tag of commitTags; track tag.name; let i = $index) {
                    @let tagOffset = branchesGrouped.length + (isDetachedHead ? 1 : 0) + i;
                    <div class="branch-tag">
                        <div class="commit-tag"
                             [style.--offset.px]="tagOffset * 30"
                             [style.z-index]="420 - tagOffset"
                             [title]="tag.message ?? tag.name"
                             pDraggable
                             (contextmenu)="openTagContextMenu(tag, $event)">
                            <i class="fa fa-tag mr-2"></i>
                            <span class="ellipsis branch-name">{{ tag.name }}</span>
                        </div>
                    </div>
                }
            </td>
            <td class="graph">
                <div class="commit-highlight-background" [style.left.px]="CANVAS_MARGIN.left + xPosition(commit.indent)"></div>
            </td>
            <td class="summary ellipsis">{{ commit.summary }}</td>
            <td class="author text-gray ellipsis">{{ commit.author.name }}</td>
            <td class="date text-gray">{{ commit.author.date | date: DATE_FORMAT }}</td>
        </tr>
    </ng-template>
</p-table>
