@import '../../../styles/variables';


$primeng-purple-line: rgba(66, 48, 69, 0.9);


:host {
  width: 100%;
  position: relative;

  ::ng-deep {
    .p-datatable {

      table {
        border-collapse: collapse;
      }

      .p-datatable-tbody > tr {
        background-color: transparent;


        & > td {
          border: 0 solid transparent;
          padding: 3px 0.5rem;
          border-top-width: 6px;
        }

        &:hover {
          td.summary, td.author, td.date, .commit-highlight-background {
            background: #ce93d81c;
          }
        }

        // row selected
        &.p-highlight, &.p-highlight:hover {
          td.summary, td.author, td.date, .commit-highlight-background {
            background: #755a975c;
          }
        }
      }

      .p-datatable-thead {

        z-index: 200;

        & > tr > th {
          font-size: 14px;
          font-weight: bold;
          color: $hmmmmmmGray;
        }
      }
    }

    .commit-row {
      td.branch-tag-td {
        min-width: 70px;
        max-width: 200px;
        position: relative;
        padding: 0 !important;

        // Other branches will appear below on hover
        &:hover {
          overflow: visible;

          .branch-tag {
            .commit-branch {
              max-width: 300px;
              z-index: 400;
            }
          }
        }

        .branch-tag {

          .commit-branch {
            cursor: grab;
            z-index: 300; // Display this over commit graph
            transition: all 0.1s;
            position: absolute;
            left: 8px;
            display: flex;
            max-width: 100%;
            border: 1px solid rgba(119, 87, 126, 0.9);
            background-color: $primeng-purple-line;
            border-radius: 3px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            padding: 1.5px 4px;
            align-items: center;

            .branch-name {
              @extend .ellipsis;
              font-size: 13px;
              margin-right: 4px;
            }

            .float-icons {
              font-size: 16px;
            }
          }
        }
      }

      td.summary, td.author, td.date {
        @extend .ellipsis;
        color: $huaaaaaGray;
        min-width: 100px;
        max-width: 300px;
      }

      td.graph {
        position: relative;
        overflow: visible;

        #commit-graph-canvas {
          position: absolute;
          pointer-events: none;
          z-index: 100;
          background: transparent;
        }

        .commit-highlight-background {
          top: 0;
          bottom: 0;
          right: 0;
          position: absolute;
        }
      }
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.text-gray {
  color: $hmmmmmmGray;
}

.graph {
  position: relative;
  color: white;

  .drawing {
    position: absolute;
    left: 0;

    &.bubble {
      background: $primeng-purple-line;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      left: 0;
    }

    &.user-name-bubble {
      $bubble-radius: 24px;
      padding-left: 0.55em;
      padding-top: 0.12em;
      height: $bubble-radius;
      width: $bubble-radius;
      font-weight: bold;
      top: 50%;
      margin-top: calc($bubble-radius / -2);
      border-radius: $bubble-radius;
    }

    &.le-dot {
      $le-dot-radius: 26px;
      margin-left: -1px;
      width: $le-dot-radius;
      height: $le-dot-radius;
      border-radius: calc($le-dot-radius / 2);
      top: 50%;
      margin-top: calc($le-dot-radius / -2);
      background-clip: content-box;
      padding: 5px;
      border: 1px solid $primeng-purple-line;
    }

    &.stash {
      $stash-radius: 26px;
      margin-left: -1px;
      width: $stash-radius;
      height: $stash-radius;
      border-radius: calc($stash-radius / 4);
      margin-top: calc($stash-radius / -2);
      background-clip: content-box;
      padding: 5px;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background: url(/assets/images/chest.svg) no-repeat center right calc(-0.15em + 0.2275rem);
      background-size: 90% 90%;
      border: 1px dashed $primeng-purple-line;
    }

    &.line {
      margin-left: 9px;
      height: 100%;
      color: $primeng-purple-line;
      font-size: 18px;
      line-height: 24px;

      &.horizontal {
        width: 25px;
        margin-left: -3px;
        border-top: 2px solid currentColor;
        margin-top: -2px;
        top: 50%;
      }

      &.vertical {
        width: 2px;
        background-color: currentColor;
        height: 16%;

        &.top {
          top: 0;
        }

        &.bottom {
          bottom: 0;
        }

        &.full {
          top: 0;
          height: 100%;
        }
      }

      &.turn {
        width: 12px;
        height: 50%;
        border: 2px solid currentColor;
        top: 0;

        &.up-right {
          border-bottom: 0;
          border-right: 0;
          border-radius: 12px 0 0 0;
          top: unset;
          bottom: 0;
        }

        &.up-left {
          border-bottom: 0;
          border-left: 0;
          border-radius: 0 12px 0 0;
          top: unset;
          bottom: 0;
          margin-left: -1px;
        }

        &.right-up {
          margin-left: -1px;
          border-top: 0;
          border-left: 0;
          border-radius: 0 0 12px 0;
        }

        &.left-up {
          border-top: 0;
          border-right: 0;
          border-radius: 0 0 0 12px;
        }
      }
    }
  }
}
