@import '../../../styles/variables';

:host {
  width: 100%;

  ::ng-deep {
    .p-datatable {

      .p-datatable-thead > tr > th {
        font-size: 14px;
        font-weight: bold;
        color: $hmmmmmmGray;
      }
    }

    .commit-row {
      td.branch-tag {
        @extend .ellipsis;
        min-width: 100px;
      }

      td.summary {
        @extend .ellipsis;
        color: $huaaaaaGray;
        min-width: 100px;
        max-width: 300px;
      }

      td.graph {
        min-width: 50px;
      }
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-gray {
  color: $hmmmmmmGray;
}

$primeng-purple-line: rgba(206, 147, 216, 0.9);

.graph {
  position: relative;
  color: white;

  .drawing {
    position: absolute;
    left: 0;

    &.bubble {
      background: $primeng-purple-line;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      left: 0;
    }

    &.user-name-bubble {
      $bubble-radius: 24px;
      padding-left: 0.5em;
      padding-top: 0.1em;
      height: $bubble-radius;
      width: $bubble-radius;
      font-weight: bold;
      top: 50%;
      margin-top: calc($bubble-radius / -2);
      border-radius: $bubble-radius;
    }

    &.le-dot {
      $le-dot-radius: 26px;
      margin-left: -1px;
      width: $le-dot-radius;
      height: $le-dot-radius;
      border-radius: calc($le-dot-radius / 2);
      top: 50%;
      margin-top: calc($le-dot-radius / -2);
      background-clip: content-box;
      padding: 5px;
      border: 1px solid $primeng-purple-line;
    }

    &.line {
      margin-left: 9px;
      height: 100%;
      color: $primeng-purple-line;
      font-size: 18px;
      line-height: 24px;

      &.horizontal {
        width: 25px;
        margin-left: -3px;
        border-top: 2px solid currentColor;
        margin-top: -2px;
        top: 50%;
      }

      &.vertical {
        width: 2px;
        background-color: currentColor;
        height: 16%;

        &.top {
          top: 0;
        }

        &.bottom {
          bottom: 0;
        }

        &.full {
          top: 0;
          height: 100%;
        }
      }

      &.turn {
        width: 12px;
        height: 50%;
        border: 2px solid currentColor;
        top: 0;

        &.up-right {
          border-bottom: 0;
          border-right: 0;
          border-radius: 12px 0 0 0;
          top: unset;
          bottom: 0;
        }

        &.up-left {
          border-bottom: 0;
          border-left: 0;
          border-radius: 0 12px 0 0;
          top: unset;
          bottom: 0;
          margin-left: -1px;
        }

        &.right-up {
          margin-left: -1px;
          border-top: 0;
          border-left: 0;
          border-radius: 0 0 12px 0;
        }

        &.left-up {
          border-top: 0;
          border-right: 0;
          border-radius: 0 0 0 12px;
        }
      }
    }
  }
}



