<gitgud-search-logs *ngIf="showSearchBar" [focus]="searchBarFocus" (onSearch)="search($event)"/>
<p-table
        #logTable
        [value]="displayLog"
        [selection]="[displayLog.find(isPointedByHead)]"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="calc(100vh - 58px)"
        [resizableColumns]="true"
        selectionMode="multiple" [metaKeySelection]="true"
        styleClass="pointer borderless p-datatable-sm"
>
    <ng-template pTemplate="header">
        <tr class="uppercase text-gray">
            <th pResizableColumn>Branch / Tag</th>
            <th pResizableColumn [style.max-width.px]="CANVAS_MARGIN[0] + xPosition(graphColumnCount)" [style.width.px]="CANVAS_MARGIN[0] + xPosition(graphColumnCount)">Graph</th>
            <th pResizableColumn style="min-width: 100px;">Commit message</th>
            <th pResizableColumn>Author</th>
            <th pResizableColumn style="min-width: 170px;">Commit date / time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex">
        <tr class="commit-row {{ displayLog[rowIndex].highlight }}" [pSelectableRow]="displayLog[rowIndex]" [style.padding-bottom.px]="NODES_VERTICAL_SPACING / 2">
            <td class="branch-tag-td">
                <div class="branch-tag" *ngFor="let branch of branchesAndRef(displayLog[rowIndex]); let i = index">
                    <div class="commit-branch" [ngStyle]="{top: i * 30 + 'px', filter: indentColorFilter(displayLog[rowIndex].indent)}" pDraggable>
                        <i *ngIf="displayLog[rowIndex].isPointedByLocalHead" class="fa fa-check mr-2"></i>
                        <span class="branch-name">{{ branchName(branch) }}</span>
                        <span class="float-icons">
                            <i *ngIf="branch?.remote" class="fa fa-github mr-2"></i>
                            <i *ngIf="branch?.local" class="fa fa-laptop mr-2"></i>
                        </span>
                    </div>
                </div>
            </td>
            <td class="graph">
                <canvas #canvas
                        *ngIf="rowIndex == 0"
                        id="commit-graph-canvas"
                        [height]="yPosition(COMMITS_SHOWN_ON_CANVAS)"
                        [width]="xPosition(graphColumnCount - 1) + NODE_RADIUS"
                        [style.left.px]="CANVAS_MARGIN[0]"
                        [style.top.px]="CANVAS_MARGIN[1]"
                ></canvas>
                <div class="commit-highlight-background" [style.left.px]="CANVAS_MARGIN[0] + xPosition(displayLog[rowIndex].indent)"></div>
            </td>
            <td class="summary">{{ displayLog[rowIndex].summary }}</td>
            <td class="author text-gray">{{ displayLog[rowIndex].author.name }}</td>
            <td class="date text-gray">{{ displayLog[rowIndex].author.date | date: 'd/M/YYYY @ HH:mm' }}</td>
        </tr>
    </ng-template>
</p-table>
