@let selectedCommit = currentRepo.selectedCommit();
@let selectedStash = currentRepo.selectedStash();

@if (selectedStash) {
    <h4 class="m-0">Stash:
        <p-button
                styleClass="p-0"
                [link]="true"
                size="small"
                (click)="copyToClipboard(selectedStash.parentSHAs[1])"
                (mouseout)="copyTooltip = 'Copy'"
                [pTooltip]="copyTooltip"
                [label]="selectedStash.shortSha"
                tooltipPosition="top"
        />
    </h4>

    <p-divider class="mb-0"/>

    <gitgud-commit-card [commit]="selectedStash" [showSha]="false"/>

    <gitgud-commit-file-list class="pt-2" [files]="(editedFiles()?.files ?? [])"/>

} @else if (selectedCommit) {
    <h4 class="m-0">Commit:
        <p-button
                styleClass="p-0"
                [link]="true"
                size="small"
                (click)="copyToClipboard(selectedCommit.sha)"
                (mouseout)="copyTooltip = 'Copy'"
                [pTooltip]="copyTooltip"
                [label]="selectedCommit.shortSha"
                tooltipPosition="top"
        />
    </h4>

    <p-divider class="mb-0"/>

    <div class="flex-column items-center justify-center">
        <div class="py-2">
            Amend commit message
        </div>
        <form #amendCommitForm class="flex-column flex-1" [formGroup]="editCommitForm" (ngSubmit)="rewordCommit()" (keydown.control.enter)="commitFormValueChanged() && rewordCommit()">

            <input pInputText placeholder="Summary" class="w-full commit-summary" formControlName="summary"/>

            <textarea pTextarea placeholder="Description" rows="3" class="flex-1 commit-description" formControlName="description"></textarea>

            <p-button type="submit"
                      [disabled]="!commitFormValueChanged()"
                      class="flex gap-2 mt-2 w-full"
                      styleClass="w-full border-round-xs">
                Update message
            </p-button>

        </form>
    </div>

    <p-divider/>

    <gitgud-commit-card [commit]="selectedCommit" [showSha]="false"/>

    <gitgud-commit-file-list class="pt-2" [files]="(editedFiles()?.files ?? [])"/>

}
