@forward "../make-a-commit/commit-section";


:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.author-icon {

  color: var(--huaaaaaGray);

  &:first-child {
    margin-bottom: 0.5rem;
  }
}