@if (selectedCommits()[0]) {
    @let selectedCommit = selectedCommits()[0];
    <h4>Commit: <span class="border-white">{{ selectedCommit.shortSha }}</span></h4>

    <hr>

    <div class="flex-column items-center justify-center">
        <div class="p-2">
            Amend commit message
        </div>
        <form class="flex-column flex-1" [formGroup]="editCommitForm">

            <input pInputText placeholder="Summary" class="w-full commit-summary" formControlName="summary"/>

            <textarea pTextarea placeholder="Description" rows="3" class="flex-1 commit-description" formControlName="description"></textarea>

            <div class="flex gap-2">
                <button pButton [disabled]="isEqual(editCommitForm.value, initialValue)" class="my-2 border-round-xs flex-1">
                    Update message
                </button>
            </div>

        </form>
    </div>

    <hr>

    <div class="flex-column items-center justify-center">
        <div class="flex align-items-center gap-2 author-icon"
             [pTooltip]="selectedCommit.author.email">
            <gitgud-avatar [identity]="selectedCommit.author" [indent]="selectedCommit.indent!"/>
            <div class="flex-column">
                <span>{{ selectedCommit.author.name }}</span>
                <span>authored {{ selectedCommit.author.date | date: DATE_FORMAT }}</span>
            </div>
        </div>
        <div class="flex align-items-center gap-2 author-icon"
             *ngIf="selectedCommit.author.email != selectedCommit.committer.email"
             [pTooltip]="selectedCommit.committer.email">
            <gitgud-avatar [identity]="selectedCommit.committer" [indent]="selectedCommit.indent!"/>
            <div class="flex-column">
                <span>{{ selectedCommit.committer.name }}</span>
                <span>committed {{ selectedCommit.committer.date | date: DATE_FORMAT }}</span>
            </div>
        </div>
    </div>

    <p-listbox [options]="editedFiles?.files ?? []" (onChange)="fileDiffPanelService.showCommittedFileDiffs($event.value)" optionLabel="path" [scrollHeight]="undefined">
        <ng-template #item let-f>
            @let file = file$(f);
            @let dir = directory(file.path);
            <i class="text-gray mr-2 fa {{ FileStatusesIcons[file.status.kind].icon }}"
               [style.color]="FileStatusesIcons[file.status.kind].color"
               [style.filter]="'drop-shadow(0 0 5px ' + FileStatusesIcons[file.status.kind].color + '88)'"></i>
            <span *ngIf="dir.length" class="ellipsis text-gray" [style.min-width.rem]="1.3">{{ dir }}</span>
            <span class="white-space-nowrap">{{ (dir?.length ? '/' : '') + fileName(file.path) }}</span>
        </ng-template>
    </p-listbox>
} @else {
    <!-- Multiple commits selected -->
}
