@let selectedIndex = gitRepositoryStore.selectedIndex();

<gitgud-toolbar/>

<p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)" scrollable [class.refreshing]="gitRefresh.isRefreshing()">

    <p-tablist cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        @for (repository of gitRepositoryStore.repositories(); track repository.id; let i = $index) {
            <p-tab [value]="i" cdkDrag cdkDragLockAxis="x" (auxclick)="onMiddleClick($event, i)">
                <i class="fa fa-code-fork"></i>
                {{ repository.name }}
                <p-button
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        [severity]="i === selectedIndex ? 'primary' : 'secondary'"
                        styleClass="close-tab-btn"
                        (click)="gitRepositoryStore.removeRepository(i); $event.stopPropagation()"
                />
            </p-tab>
        }

        @if (gitRepositoryStore.newTabOpen()) {
            <p-tab value="new-tab">
                New tab
                <p-button
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        styleClass="close-tab-btn"
                        (click)="gitRepositoryStore.closeNewTab(); $event.stopPropagation()"
                />
            </p-tab>
        }

        <p-button
                icon="pi pi-plus"
                [text]="true"
                class="flex"
                severity="primary"
                (click)="gitRepositoryStore.openNewTab()"
        />
    </p-tablist>

    <p-tabpanels class="fill-height">
        <p-tabpanel>
            @if (gitRepositoryStore.newTabSelected()) {
                <gitgud-new-tab/>
            } @else {
                <gitgud-repository-view/>
            }
        </p-tabpanel>
    </p-tabpanels>

</p-tabs>
