<p-tabs [value]="gitRepositoryStore.selectedIndex()" (valueChange)="gitRepositoryStore.selectRepository($event!)">

    <p-tablist>
        @for (repository of gitRepositoryStore.repositories(); track repository.id; let i = $index) {
            <p-tab [value]="i">
                <i class="fa fa-code-fork"></i>
                {{ repository.name }}
                <p-button
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        severity="primary"
                        styleClass="close-tab-btn"
                        (click)="gitRepositoryStore.removeRepository(i); $event.stopPropagation()"
                />
            </p-tab>
        }
    </p-tablist>

    <p-tabpanels class="fill-height">
        @for (repository of gitRepositoryStore.repositories(); track repository.id; let i = $index) {
            <p-tabpanel [value]="i">
                <gitgud-repository-view/>
            </p-tabpanel>
        }
    </p-tabpanels>

</p-tabs>