:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep {
  p-tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    .p-tabpanel {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      padding: 0;
    }
  }

  p-tab[draggable="true"] {
    *:not(button):not(p-button) {
      pointer-events: none; // This disables pointer events on some children so drag events bubble up to the p-tab itself
    }

    &:active {
      cursor: grabbing;
    }
  }
}
