
<div class="repo-info">
    <span class="repo-name">{{ currentRepo.name() }}</span>
    <span class="branch-badge">{{ currentRepo.headBranch()?.name ?? short(currentRepo.detachedHeadSha() ?? '') + ' (detached HEAD)' }}</span>
</div>

<p-divider layout="vertical"/>

<div class="actions">
    <p-button class="sober"
            [text]="true"
            [loading]="loading() === 'push'"
            [disabled]="!!loading()"
            (onClick)="push()"
    >
        <i class="fa fa-arrow-up"></i>
        <span>Push</span>
    </p-button>

    <p-button class="sober"
            [text]="true"
            [loading]="loading() === 'pull'"
            [disabled]="!!loading()"
            (onClick)="pull()"
    >
        <i class="fa fa-arrow-down"></i>
        <span>Pull</span>
    </p-button>

    <p-button class="sober"
            [text]="true"
            [loading]="loading() === 'fetch'"
            [disabled]="!!loading()"
            (onClick)="fetch()"
    >
        <i class="fa fa-refresh"></i>
        <span>Fetch</span>
        @if (fetchedAgo(); as ago) {
            <span class="fetched-ago">{{ ago }}</span>
        }
    </p-button>

    <p-button class="sober" icon="fa fa-download" [text]="true" [rounded]="true" pTooltip="Clone repository" tooltipPosition="bottom" (onClick)="openClone()"/>
    <p-button class="sober" icon="fa fa-history" [text]="true" [rounded]="true" pTooltip="Undo last commit (soft reset)" tooltipPosition="bottom" (onClick)="undo()"/>
    <p-button class="sober" icon="fa fa-terminal" [text]="true" [rounded]="true" pTooltip="Git command history" tooltipPosition="bottom" (onClick)="openShellHistory()"/>
    <p-button class="sober" icon="fa fa-cog" [text]="true" [rounded]="true" pTooltip="Settings" tooltipPosition="bottom" (onClick)="openSettings()"/>
</div>

<p-select
        [options]="zoomLevels"
        [ngModel]="zoom()"
        (ngModelChange)="setZoom($event)"
        optionLabel="label"
        optionValue="value"
        style="margin-left: auto"
>
    <ng-template pTemplate="selectedItem" let-item>
        Zoom ({{ item.label }})
    </ng-template>
</p-select>

<gitgud-clone-dialog/>
<gitgud-shell-history-dialog/>
