@let c = commit();
@if (c) {
    <div class="flex items-center justify-center">
        <div class="flex align-items-center gap-2 author-icon"
             [pTooltip]="c.author.email">
            <gitgud-avatar [identity]="c.author"/>
            <div class="flex-column">
                <span>{{ c.author.name }}</span>
                <span>authored {{ c.author.date | date: DATE_FORMAT }}</span>
            </div>
        </div>
        @if (showSha()) {
            @if (showParent()) {
                <span>Parent: </span>
            }
            <p-button
                    class="absolute-right"
                    styleClass="p-0"
                    [link]="true"
                    size="small"
                    (click)="copyToClipboard(showParent() ? c.parentSHAs[0] : c.sha)"
                    (mouseout)="copyTooltip = 'Copy'"
                    [pTooltip]="copyTooltip"
                    [label]="c.shortSha"
                    tooltipPosition="top"
            />
        }
    </div>
}
