:host {
  display: block;
  background: var(--identity-card-bg);
  border-radius: var(--p-border-radius-sm, 4px);
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

.author-icon {

  color: var(--huaaaaaGray);

  & + .author-icon {
    margin-top: 0.5rem;
  }
}